[submodule "kernel"]
	path = kernel
	url = https://github.com/seL4/seL4.git
[submodule "tools"]
	path = tools
	url = https://github.com/seL4/seL4_tools.git
[submodule "projects/seL4_libs"]
	path = projects/seL4_libs
	url = https://github.com/seL4/seL4_libs.git
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = https://github.com/seL4/util_libs.git
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc.git
[submodule "projects/projects_libs"]
	path = projects/projects_libs
	url = https://github.com/SEL4PROJ/projects_libs.git
[submodule "projects/fat_io_lib"]
	path = projects/fat_io_lib
	url = https://github.com/jonlamb-gh/fat_io_lib.git
[submodule "projects/microrl_lib"]
	path = projects/microrl_lib
	url = https://github.com/jonlamb-gh/microrl.git
